html, body {
	min-height: 100vh
}
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	background: hsl(229, 57%, 11%) url(../img/bg-desktop.svg) no-repeat left bottom;
	background-size: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center
}
@media (max-width: 800px) {
	body {
		background: hsl(229, 57%, 11%) url(../img/bg-mobile.svg) no-repeat left bottom;
		background-size: 100%
	}
}
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box
}
.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap
}
.col-1 , .col-2 {
	background: hsl(228, 56%, 26%);
	border-radius: 10px;
	padding: 35px;
	margin: 12px;
	-webkit-box-shadow: 0 0 7rem rgba(0,0,0, .5);
	        box-shadow: 0 0 7rem rgba(0,0,0, .5);
	position: relative
}
.col-1 {
	width:340px;
	border-top-right-radius: 100px
}
.col-2 {
	width:500px;
	color: #c5c5c5
}
.col-2 span, small {
	color: white
}

small {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

@media (max-width: 700px) {
	.container {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center
	}
	.col-1, .col-2 {
		width: 90%;
		margin: 20px 0
	}
}

/* Botões 
------------*/
.btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	float: left;
	margin: 27px 13px 0px 0;
	background: hsl(229, 57%, 11%);
	border-radius: 10px;
	width: 50px;
	height: 50px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center
}
.btn:hover {
	background: hsl(229, 57%, 15%)
}

/* Barra de progresso 
-----------------------*/
.progress {
	background: hsl(229, 57%, 11%);
	border-radius: 10px;
	padding: 2px;
	height: 16px;
	width: 100%;
	overflow: hidden;
	margin: 15px 0 7px 0
}
.progress-bar {
	height: 100%;
	background: -webkit-gradient( linear, left top, right top, from(hsl(6, 100%, 80%)), to(hsl(335, 100%, 65%)));
	background: -o-linear-gradient( left, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
	background: linear-gradient( to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
	background-size: 100%;
	border-radius: 12px;
	position: relative;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s
}
.progress-bar:hover {
	background-position: right 0
}
.progress-bar:after {
	content: "";
	background: white;
	width: 8px;
	height: 8px;
	position: absolute;
	right: 2px;
	top: 2px;
	border-radius: 50%
}

/* GB LEFT
-------------*/
.gb-left {
	background: white;
	position: absolute;
	right: 35px;
	top: -45px;
	padding: 10px 20px;
	font-weight: 700;
	border-radius: 10px;
	color: black;
	font-size: 2.9em;
	display: inline-block
}
.gb-left span {
	font-size: 11px;
	letter-spacing: 1px;
	color: #999;
	vertical-align: middle;
	margin-left: 8px
}
.gb-left:after {
	content: "";
	position: absolute;
	right: 0;
	bottom: -20px;
	width: 0px;
	height: 20px;
	border-left: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 23px solid white
}
/* Rodapé 
------------*/
footer {
	position:absolute;
	bottom: 0;
	right: 0;
	padding: 10px 20px;
	font-size: 12px;
	color: hsl(229, 57%, 11%);
	text-shadow: 1px 1px 0px #999
}
footer a {
	color: hsl(229, 57%, 11%);
	text-decoration: none
}